/*
Theme Name:     mozilla.org.il development theme try 3 (based on WordPress TwentyEleven)
Theme URI:      http://mozilla.org.il
Description:    tbd
Author:         Tomer Cohen
Author URI:     http://tomercohen.com
Template:       twentyeleven
Version:        0.1.1
*/



@import url("../twentyeleven/style.css");

@font-face {
	src: url("./ElliniaCLM-Bold.ttf");
	font-family: "ElliniaCLMBoldttf_font";
}

#page { 
/*	border-bottom: 4px red solid;*/
	background: url(http://www.mozilla.org/images/template/dino.png) no-repeat top left #333;  /* almost black */
	
	max-width: none; /* Make the page wider */
}

#branding {
	border-top: none;
}

#page {
	margin: 0 auto;
}

#access { 
	border-bottom: #A5151E 10px solid;
	background: inherit;
	margin-bottom: 0;
}

#primary, #main {
	background: white;
}
#main {
	padding: 0;
}

#primary {
	background:url(background.png) repeat-x white;
/*http://www.mozilla.com/img/firefox/3.6/firstrun/background.png*/
}

#content {
	max-width: 1000px; /* Make content area default */
}

#colophon {
	border-top: 10px solid #A5151E;
}

#supplementary {
	border-top: 0;
}

body { 
	padding: 0;
}
html {
	/*margin-top: 0 !important;*/
	background: #333;
}

#site-description { 
/*	clear: none;*/
	margin: 0;
}

#site-title {
	padding: 0;
}

#site-title a, #site-title a:hover, #site-title a:focus, #site-title a:active {
	color: #ddd;
}

#access li a {
	font-weight: bold;
}

#access li {
	float: right;
}

#access li:hover > a {
	background: none;
}

#access li a:hover {
	color: #F59D56;
}

#access {
	box-shadow: none;
}

#access ul {
	margin: auto;
	max-width: 800px;
	float: right;
}

#branding #searchform {
	right: 30%;
	top: 1em;
}

.page-template-showcase-php #content, .left-sidebar.page-template-showcase-php #content {
	margin: auto;
}

.singular .entry-title, 
.entry-title {
	float: none;
	padding: 0;
	text-align: center;
	color: #B91E27;
}

.entry-content h1, .entry-content h2, .comment-content h1, .comment-content h2, .singular .entry-title, .entry-title {
        font-family: "Ellinia CLM Bold", "ElliniaCLMBoldttf_font", sans-serif;
}
.entry-content h1, .entry-content h2, .comment-content h1, .comment-content h2 {
    color: maroon;
    border-bottom: 3px solid #CCCCCC;
    margin: 5px 0;
}

.singular.page .hentry {
	padding: 0;
}

#site-generator {
	background: none;
	border: none;
	padding: 0;
	float: none;
}

#content hr {
/*	background-image: url(http://mozcom-cdn.mozilla.net/img/covehead/divider-main.jpg); */
	background-image: url(divider-main.jpg);
	background-position: top center;
	margin: 0;
	padding-bottom:  1.625em;
	min-height: 48px;
}

/* XXX TC meant to be used as sidebar */
#respond {
	    background: none repeat scroll 0 0 #CCE2F3;
    border-radius: 10px 10px 10px 10px;

	    margin: -20px 35px 20px 20px;
    padding: 20px 20px 15px;
    min-width: 280px;
}

#branding a img {display: none;} /*XXX*/
